*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.logonamesearch{
    display:flex;
    flex-wrap:wrap;
}
#logo{
    padding: 2px 0vh 0vh 2vh;
    height: 17vh;
}
.logoname{
    display:flex;
    flex-wrap:wrap;
}
#name{
   padding:5vh 0vh;
   margin:0px;
   font-family: monospace;
   font-size:35px;
}
.first{
    background:url("Images/Yellow\ \ Modern\ Webinar\ Facebook\ Post.png");
    background-size: cover;
    height:100vh;
    width:100%;
}
.sb {
    padding: 9px;
    margin:-46px 0px;
    border: 2px solid black;
    border-radius: 100px;
    font-size: 37px;
    position: absolute;
    top: 80px;
    left: 769px;
}
.but{
    height: 7%;
    width: 9%;
    font-size: 16px;
    color: white;
    position: absolute;
    top: 40px;
    left: 1255px;
    background-color:rgb(235, 20, 67);
}
.but:hover{
    background-color: brown;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
#mag{
    height: 30px;
    width: 2%;
    position: absolute;
    top: 50px;
    left: 1193px;
}
.searchbar{
    display:flex;
    flex-wrap:wrap;
    height:10%;
    width:50%;
}
.element{
    width: 10px;
    height: 50px;
}
.tcontainer{
    display:flex;
    height:57vh;
    width:105vh;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
}
.tile1{
    display:flex;
    border:2px solid black;
    border-radius: 5vh;
    background-color: white;
    height:17vh;
    width:27vh;
    font-size: 26px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:absolute;
    top:40vh;
    left:112vh;
    padding:17px 0px 0px 19px;
    transition-duration: 500ms;
}
.tile1:hover{
    transform: scale(1.2);
}
.tile2{
    border:2px solid black;
    border-radius: 5vh;
    background-color: white;
    height:17vh;
    width:27vh;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:absolute;
    top:40vh;
    left:146vh;
    padding:11px 0px 0px 16px;
    transition-duration: 500ms;
}
.tile2:hover{
    transform: scale(1.2);
}
.tile3{
    border: 2px solid black;
    border-radius: 4vh;
    background-color: white;
    height: 17vh;
    width: 27vh;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 64vh;
    left: 112vh;
    padding: 13px 0px 0px 1px;
    transition-duration: 500ms;
}
.tile3:hover{
    transform: scale(1.2);
}
.tile4{
    border:2px solid black;
    border-radius: 5vh;
    background-color: white;
    height:17vh;
    width:27vh;
    font-size: 26px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position:absolute;
    top:64vh;
    left:146vh;
    padding: 12px 0px 0px 12px;
    transition-duration: 500ms;
}
.tile4:hover{
    transform: scale(1.2);
}
#stlogo{
    height:7vh;
    width:7vh;
    margin:7px 13px 0px 0px;
}
#mflogo{
    height: 6vh;
    width: 6vh;
    margin: -3px 25px 0px 0px;
}
#pflogo{
    height:9vh;
    width:9vh;
    margin:3px 27px 0px 0px;
}
#prlogo{
    height:8vh;
    width:8vh;
    margin:5px 18px 1px 2px;
}
.second{
    background:url("Images/first\ \(5\).jpg");
    background-size: cover;
    height:100vh;
    width:100%;
}
.slide-container{
    height:100vh;
    width:100vh;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
}
.card{
    height: 70vh;
    width: 50vh;
    border: 2px solid black;
    border-radius: 35px;
    padding: 0px 0px 0px 0px;
    margin: 124px 0px 0px 71px;
    background-color:white;
}
.dp{
    height: 20vh;
    width: 19vh;
    border: 2px solid black;
    border-radius: 100px;
    padding: -1px 0px 0px 0px;
    margin: 32px 0px 0px 92px;
}
.rcorner{
    height:6vh;
    width:7vh;
    position: relative;
    top:0vh;
    left:43vh;
    background-color: white;
    border:2px solid white;
    border-top-right-radius: 2px;
}
.name{
    font-size: 4px;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px 0px 0px 0px;
}
.top{
    background-color: #4070F4;
    border: 2px solid #4070F4;
    border-radius: 0px 0px 0px 59px;
    height: 30vh;
    width: 50vh;
}
.para{
    background-color:white;
    height: 6vh;
    width: 50vh;
    border: 2px solid white;
    border-radius: 0px 96px 0px 59px;
}